@media ( max-width : 361px ) {

  body {
    width: 360px;
  }

  .polaroid {
    background-color: #ff2800;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 10px;
  }

  .recipe-container {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }

  .recipe-image {
    border: white 5px solid;
    border-radius: 10px;
    width: 300px;
  }


  .recipe-title {
    color: white;
    font-size: 20px;
    height: 10px;
    margin-top: 4px;
    text-align: center;
  }

  .category {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  .category-button {
    background-color: white;
    border: solid #ff2800 1px;
    border-radius: 10px;
    color: #ff2800;
    font-weight: 800;
    margin: 5px;
    width: 90px;
  }

  .category-button:hover {
    background-color: #ff2800;
    color: white;
  }

  .first-buttons {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
  }
}
